* {
    padding: 0;
    margin: 0;
    background-color: white ;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#inputDiv {
    position: absolute;
    left: 200px;
    top: 100px;
}

#Username {
    position: absolute;
    left: 200px;
    top: 500px;
}

#Room_code {
    position: absolute;
    left: 200px;
    top: 100px;
}
